body {
	font-family:"Times New Roman", Arial, sans-serif;
	background-image: url("images/img-noise-1000x1000.png");
	background-position: top left;
	background-repeat: repeat;
	background-color: lightblue;
}

h2 {
	font-size: 24px;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border-bottom-style: solid;
	border-width: 1px;
}

p {
	font-family: "Times New Roman";
	font-size: 16px;
	padding-left: 20px;
	line-height: 20px;
}
.contact-info h1{
	font-size: 36px;
	border-bottom-style: solid;
	text-align: center;
	padding-bottom: 5px;
	margin: 0px;
}
.contact-info h2{
	font-size: 24px;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border-bottom-style: solid;
	border-width: 1px;	
}
.education h3{
	font-size: 24px;
	margin: 0px;
	padding-left: 10px;
}
.skills{
	font-size: 16px;
	line-height: 20px;
}
.skills h3{
	font-size: 24px;
	margin: 0px;
	padding-left: 10px;
}
.work-experience h3{
	font-size: 24px;
	margin: 0px;
	padding-left: 10px;
}
.work-experience h4{
	font-size: 20px;
	margin: 0px;
	padding-left: 15px;	
}
.work-experience h5{
	font-size: 16px;
	margin: 0px;
	padding-left: 15px;
}